<div class="container-fluid">
        <h3>Peliculas a la venta</h3>
    <div class="row" style="margin: 0px;">
        <div *ngFor="let i of products" class="card col-4">
            <strong>Titulo: {{i.title}}</strong> 
            <img [src]= "i.image" alt= "">
            <strong>Precio: {{i.price}}</strong>
            <button class="btn btn-primary" (click)="addCarrito()">Agregar al Carrito</button>
            <a [routerLink]="['/listado', i.id]">Ver detalle </a>
        </div>  
    </div>
</div>

    