<div class="container-fluid">
    <div class="row">
        <!-- Elementos generados a partir del JSON -->
        <main id="items" class="col-sm-8 row"></main>
        <!-- Carrito -->
        <aside class="col-sm-4">
            <h2>Carrito</h2>
            <!-- Elementos del carrito -->
            <ul id="carrito" class="list-group">
               <p>Interestelar</p>
                <img src="assets/Imagenes/1.png" alt="">
            </ul>
            <hr>
            <p class="text-right">Total: 50 <span id="total"></span>&dollar;;</p>
            <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
        </aside>
    </div>
</div>