<br>
<h3>Login</h3>
<div class="container">
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailField" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
        Porfavor ingrese un correo correcto. 
      </mat-error>
      <mat-error *ngIf="emailField.hasError('required')">
        El correo es <strong>requerido</strong>
      </mat-error>
</mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
</form>
<button  type="submit" mat-raised-button color="primary" [disabled]="emailField.invalid" (click)="sendMail()">Submit</button>
<a mat-raised-button>Registrarse</a>
</div>





